<table>
   <thead>
      <td colspan="2"><b>Podrobnosti rezervacije:</b></td>
   </thead>
   <tbody>
      <tr>
      <td>Namestitev</td>
      <td>Hotel MorgenZeit</td>
      </tr>
      <tr>
      <td>Destinacija:</td>
      <td>Maria Alm</td>
      </tr>
      <tr>
      <td>Tip nastanitve:</td>
      <td>Suita 2 osebi junior z balkonom</td>
      </tr>
      <tr>
      <td>Storitev:</td>
      <td>HB</td>
      </tr>
      <tr>
      <td>Prihod:</td>
      <td>petek, 13 marec 2020</td>
      </tr>
      <tr>
      <td>Čas prijave:</td>
      <td>15:00 - 20:00</td>
      </tr>
      <tr>
      <td>Odhod:</td>
      <td>nedelja, 15 marec 2020</td>
      </tr>
      <tr>
      <td>Čas odjave:</td>
      <td>10:00</td>
      </tr>
      <tr>
      <td>Število nočitev:</td>
      <td>2</td>
      </tr>
      <tr>
      <td>Oblika plačila:</td>
      <td>wiretransfer</td>
      </tr>
      <tr>
      <td>Cena namestitve:</td>
      <td>420.00 EUR</td>
      </tr>
      <tr>
      <td>Obvezna doplačila ob rezervaciji:</td>
      <td>0.00 EUR</td>
      </tr>
      <tr>
      <td>Nosilec rezervacije:</td>
      <td>Anže Klančar</td>
      </tr>
      <tr>
      <td>Država:</td>
      <td>Slovenia</td>
      </tr>
   </tbody>
</table><br/>

<table>
   <thead>
      <td colspan="2"><b>Imena gostov:</b></td>
   </thead>
   <tbody>
      <tr>
      <td>Anže Klančar</td>
      <td>(odrasla oseba)</td>
      </tr>
      <tr>
      <td>Anže Klančar</td>
      <td>(odrasla oseba)</td>
      </tr>
   </tbody>
</table><br/>