<table>
   <thead>
      <td colspan="2"><b>Obvezno dopla훾ilo ob prihodu:</b></td>
   </thead>
   <tbody>
      <tr>
      <td>Turisti훾na taksa (informativna vrednost):</td>
      <td>2.00 EUR na osebo na dan</td>
      </tr>
      <tr>
      <td>An탑e Klan훾ar</td>
      <td>(odrasla oseba)</td>
      </tr>
   </tbody>
</table><br/>