---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.mailgun.com"><img src="../src/img/logo.png" height="30" alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>Spoštovani accommodation provider,</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam facere fugiat minima modi reiciendis nisi ratione at voluptas excepturi. Ab quam placeat atque eos, eligendi inventore voluptas quae alias quia.</p>

            {{> button type='primary' color='red' url='https://github.com/leemunroe/grunt-email-workflow' title='Zavrni rezervacijo' }}
            {{> button type='primary' color='green' url='https://github.com/leemunroe/grunt-email-workflow' title='Potrdi rezervacijo' }}
            
            <p>Hvala za razumevanje.</p>
            <p>Hvala za izkazano zaupanje in lep pozdrav,<br/>Team MountVacation</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> signature }}</p>
      </td>
    </tr>
  </table>
</div>
