---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.mailgun.com"><img src="../src/img/logo.png" height="30" alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      {{> notice type='info' text='Z veseljem vas obveščamo, da je vaša rezervacija za Baita Damiano, Livigno, Italy potrjena.' }}<br/>

      <table>
        <tr>
          <td>
            <p>Spoštovani / Spoštovana Anže Klančar,</p>
            <p>Z veseljem vas obveščamo, da je vaša rezervacija za Baita Damiano, Livigno, Italy potrjena.</p>
            <p>Prosimo za plačilo pod pogoji v priloženem dokumentu-predračunu.</p>
            <p>Končna cena in rezervacija sta potrjeni, ko je plačana akontacija in izdan dokument. Če akontacija ni zahtevana, je rezervacija potrjena ob prejetju potrditvenega e maila.</p>
            <p>{{> booking }}</p>
            <p>{{> mandatory-to-be-paid }}</p>
            <p>Hvala za izkazano zaupanje in lep pozdrav,<br/>Team MountVacation</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> signature }}</p>
      </td>
    </tr>
  </table>
</div>
