---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.mailgun.com"><img src="../src/img/logo.png" height="30" alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <br/>
            <br/>
            <br/>
            EMPTY EMPTY EMPTY EMPTY
            <br/>
            <br/>
            <br/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> signature }}</p>
      </td>
    </tr>
  </table>
</div>
